div#legend {
    display: flex;
    flex-direction: column;
}

fieldset {
    display: flex;
    justify-content: space-evenly;
}
svg {
    overflow: visible;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 30px;
}
